* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "gameplay";
    src: url(./tipografias/Gameplay.ttf);
}


/**pagina 1**/


.login {
    background-image: url("./img/swamp.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.titulo-login {
    font-family: gameplay;
    font-size: 3rem;
    padding-left: 5vw;
    margin-top: 35VH;
}

.titulo2-login {
    font-family: gameplay;
    font-size: 2rem;
    padding-left: 9vw;
}

.img-flecha {
    width: 8vw;
    position: relative;
    top: 22vh;
    left: 75vw;
}

/**pagina 2**/

.lecciones {
    background-image: url("./img/ocean.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.titulo-lecciones {
    text-align: center;
    font-size: 5rem;
    padding-top: 5vh;
    font-family: gameplay;
}

.img-hojas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    min-height: 110vh;
}

.box-hoja:hover {
    transform: scale(1.1);
}


.box-hoja {
    position: absolute;
    width: 20vw;
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

.box-hoja img {
    width: 100%;
}

.box-hoja p {
    position: absolute;
    z-index: 3;
    top: 45%;
    left: 25%;
    font-size: clamp(1rem, 2vw, 2rem);
}

#hoja1 {
    position: absolute;
    left: 10vw;
    top: 1vh
}

#hoja2 {
    position: absolute;
    left: 65vw;
    top: 10vh
}

#hoja3 {
    position: absolute;
    left: 40vw;
    top: 30vh
}

#hoja4 {
    position: absolute;
    left: 10vw;
    top: 50vh
}

#hoja5 {
    position: absolute;
    left: 60vw;
    top: 70vh
}


/*teoria*/

.teoria {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 100%;
}

.leccion {
    background-image: url("./img/ocean.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.leccion h1 {
    font-size: clamp(1rem, 3vw, 2.5rem);
    font-family: gameplay;
    width: 40%;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.contenido {
    width: 40%;
    background-color: rgba(133, 206, 228, 0.651);
    font-size: clamp(1rem, 3vw, 2rem);
    padding: 3vw;
    border-radius: 30px;
    margin-bottom: 3vh;
}

/*pagina quiz*/

.botones-info {
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
}

.botones-info button {
    width: 10vw;
    height: 5vh;
    background-color: #88b04b;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-family: gameplay;
    transition: background-color 0.2s ease;
}

.botones-info button:hover {
    background-color: #769e3c;
}

input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #4d7c0f;
    /* verde oscuro intenso */
    background-color: #e9f5e3;
    /* fondo verde claro */
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: #4d7c0f;
    /* círculo interior más fuerte */
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease;
}

input[type="radio"]:checked::before {
    opacity: 1;
}


.cuestionario {
    background-image: url("./img/ocean.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
}

.titulo-quiz {
    text-align: center;
    font-size: 5rem;
    padding: 5vh;
    font-family: gameplay;
}

.box-cuestionario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5vh;
    line-height: 4rem;
    background-color: rgba(128, 128, 128, 0.474);
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.box-cuestionario p {
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 600;
    text-align: start;
    align-self: start;
}

.box-cuestionario label {
    text-align: start;
    align-self: start;
    margin-left: 2vw;
    font-size: 1.3rem;
}

.box-enviar {
    position: relative;
}

.hoja-enviar {
    width: 8vw;
    margin-left: 30vw;
}

.box-enviar p {
    position: absolute;
    left: 31.5vw;
    bottom: 7vh;
}

/*pagina resultados*/



.bloqueado {
    opacity: 0.5 !important;
    pointer-events: none;
}

.oculto {
    display: none !important;
}

.felicidades,.mal {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgb(130, 194, 151);
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 3vh;
    box-sizing: border-box;
    font-family: gameplay;
    color: white;
}

.mal{background-color: rgb(194, 137, 130);}

.felicidades img,.mal img {
    max-width: 20vw;
}

.felicidades button, .mal button {
    width: 10vw;
    height: 4vh;
    border: 1px solid black;
    border-radius: 10px;
    font-family: gameplay;
}

.felicidades-mal {
    width: 100%;
    background-image: url(./img/ocean.png);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}